@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg-color: #decdff;
  --color-white: #fff;
  --color-deepPurple: #6c5dd3;
  --color-lightPurple: #8e7bef;
  --color-charcoalBlack: #1e1e1e;
  --color-coolGrey: #6b7280;
  --color-purple: #8957e9;

  --color-palePurple: #f3eaff;

  --color-successGreen: #10b981;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--bg-color);

  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
